@media screen and (min-width: 600px) and (max-width: 1024px) {
    .nav-right {
      display: none;
    }
    .nav-left {
        width: 100%;
        left: -100%;
        background-image: url("https://www.atelier-eme.com/dw/image/v2/BCXQ_PRD/on/demandware.static/-/Sites-AE_EC_COM/default/dwed18bd3f/images/AACC063AG0NE-FI.jpg?sw=600&sfrm=jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    
    }
    .nav-links a {
        color: white;
    }

    /* prima sezione */
    .Fcontainer { 
        width: 100%; 
        height: 100vh;  
        display: flex; 
        justify-content: center; 
        align-items: center; 
        background-image: url("https://www.atelier-eme.com/dw/image/v2/BCXQ_PRD/on/demandware.static/-/Library-Sites-AtelierEmeContentLibrary/default/dwba381c06/home-component/Cover/all_HP_Cover_CW3922_HeroBanner_StyleOffice_eme.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-position: center;
    }
    /* seconda sezione */
    .Scontainer { 
        width: 100%; 
        height: 30vh;
        
    }
    h2 { 
        font-size: 2.4em; 
        overflow-y: hidden;
        height: 7vh;
        font-weight: bold;
    }
    .Scontainer p { 
        width: 90%; 
        margin-top: 0.5vh; 
        text-align: center;
    }

    /*terza sezione */
    .LeftcardsContainer, .RightcardsContainer {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7vh;
        padding-top: 7vh;
        margin-bottom: 2%;
    }
    .RightcardsContainer {
        flex-direction: column-reverse;
    }
    .LeftcardsContainer img, .RightcardsContainer img {
       width: 65vw;
       height: 100%;
       position: static;        
       margin-bottom: 5vh;
    }
    .cards-text h3 {
        font-size: 1.9em;
        font-weight: 100;
    }
    .cards-text p, h3 {
        max-width: 100%;
    }
    .button {
        width: 40%;
        padding: 2% 2% 
    }

    /* quarta sezione */
    .slide {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .activity_container {
        width: 70%;
        margin-top:0vh;
    }
    .buttonBis {
        width: 40%;
        background-color: white;
        border: 1px solid #EEDD82;
        color: black;
        text-align: center;
        padding: 6%;
    }
    .activities h2 {
       margin-bottom: 10%;
       font-size: 1.5em;
    }
   
 
}

@media screen and (min-width: 1025px) and (max-width:1400px) {
    .Fcontainer { 
        width: 100%; 
        height: 100vh;  
        display: flex; 
        justify-content: center; 
        align-items: center; 
        background-image: url("https://www.atelier-eme.com/dw/image/v2/BCXQ_PRD/on/demandware.static/-/Library-Sites-AtelierEmeContentLibrary/default/dwba381c06/home-component/Cover/all_HP_Cover_CW3922_HeroBanner_StyleOffice_eme.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-position: center;
    }
    .buttonBis {
        width: 30%;
        border: 1px solid #EEDD82;
    }
}