@media screen and (min-width: 600px) and (max-width: 1024px) {
    .Fcontainer { 
        width: 100%; 
        height: 100vh;  
        display: flex; 
        justify-content: center; 
        align-items: center; 
        background-image: url("https://www.atelier-eme.com/dw/image/v2/BCXQ_PRD/on/demandware.static/-/Library-Sites-AtelierEmeContentLibrary/default/dwba381c06/home-component/Cover/all_HP_Cover_CW3922_HeroBanner_StyleOffice_eme.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-position: center;
    }
    /* seconda sezione */
    .Scontainer { 
        width: 100%; 
        height: 30vh;
        
    }
    h2 { 
        font-size: 2.2em; 
        overflow-y: hidden;
        height: 7vh;
        font-weight: bold;
    }
    .Scontainer p { 
        width: 90%; 
        margin-top: 0.5vh; 
        text-align: center;
    }

    /*terza sezione */
    .LeftcardsContainer, .RightcardsContainer {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7vh;
        padding-top: 7vh;
        margin-bottom: 2%;
    }
    .RightcardsContainer {
        flex-direction: column-reverse;
    }
    .LeftcardsContainer img, .RightcardsContainer img {
       width: 60vw;
       height: 100%;
       position: static;        
       margin-bottom: 5vh;
    }
    .cards-text h3 {
        font-size: 1.9em;
        font-weight: 100;
    }
    .cards-text p, h3 {
        max-width: 100%;
    }
    
}